*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'popins', sans-serif;
}
.container {
  width: 100vw; /* Use viewport width for better responsiveness */
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f); /* Shorthand for background-color */
  padding: 10px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding in the container's width */
}
.todo-app{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 12px;
}
